body {
   background-color: #333333;
   font-family: 'Open Sans', sans-serif;
}
h1{
   margin: 20pt;
   font-size: 60pt;
   color: #4ba6b5;
}
.bodytitle   {
   height:100px; 
   text-align: center;
}
div {
   margin: 30pt;
   text-align: center;
}
.spin {
   float: right;
   font-size: 30pt;
   color: #4ba6b5;
}
.ctrl {
   float: left;
   margin: 20pt;
   font-size: 20pt;
   color: #4ba6b5;
}
.bar {
   width:50%;
   margin:0;
   float:left;
}
